<footer class="py-3 my-4">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Головна</a></li>
		<li class="nav-item"><a href="/express" class="nav-link px-2 text-body-secondary">Express</a></li>
		<li class="nav-item"><a href="/graphics" class="nav-link px-2 text-body-secondary">Графіка</a></li>
		<li class="nav-item"><a href="/bootstrap" class="nav-link px-2 text-body-secondary">Bootstrap</a></li>
		<li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">Про мене</a></li>
	</ul>
	<p class="text-center text-body-secondary">© 2023 Company, Inc</p>
</footer>

