<div class='container'>
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<img class='logo' src="/img/nulp_logo.jpg" alt="Logo">	
			<span class="fs-4">Самостійна</span>
		</a>

		<ul class="nav nav-pills">
			
			<li class="nav-item"><a href="/" class="nav-link {{#if active_home}} active {{/if}}" aria-current="page">Головна</a></li>
			<li class="nav-item"><a href="/express" class="nav-link {{#if active_express}} active {{/if}}">Express</a></li>
			<li class="nav-item"><a href="/graphics" class="nav-link {{#if active_graphics}} active {{/if}}">Графіка</a></li>
			<li class="nav-item"><a href="/bootstrap" class="nav-link {{#if active_bootstrap}} active {{/if}}">Bootstrap</a></li>
			<li class="nav-item"><a href="/about" class="nav-link {{#if active_about}} active {{/if}}">Про мене</a></li>
		</ul>
	</header>

</div>
