<h1 class='text-primary'>Про мене</h1>

<div class="article-about">

	<div class="section-with-img">

		<img class='img-avatar' src="/img/about/avatar.png" alt="Аватар">

		<div>
			<p>Студентка групи ПП-27, Бойчук Софія. Планую стати Fullstack-розробником.</p>

			<p>З Івано-Франківсьої області, вчилася в сільскій школі. З професією визначилася випадково, на початку одинадцятого класу. </p>

			<p>Ще до початку вивчення курсу "Технології веб-розробки та дизайну" вивчала технології веб-розробки, зокрема Express.js, тому саме їх і вибрала для самостійної роботи.</p>
			<p>Нормальних фотографій в мене нема, тому ось аватар.</p>
			<p>Планую в подальшому вивчати також React.js і використовувати саме його в професійній діяльності, однак вивчатиму і інші мови програмування та фреймворки для них, що призначені для розробки бек-енду (зокрема фреймворк Django для мови Python).</p>
		</div>
	</div>

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10293.451214557901!2d23.99641235541991!3d49.835640200000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7a31f0dccd%3A0x9869cc7025bc8e3f!2z0J3QsNGG0ZbQvtC90LDQu9GM0L3QuNC5INGD0L3RltCy0LXRgNGB0LjRgtC10YIgItCb0YzQstGW0LLRgdGM0LrQsCDQn9C-0LvRltGC0LXRhdC90ZbQutCwIg!5e0!3m2!1suk!2sua!4v1702725611557!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/S7i3ugniyjg?si=K-cdg7Tr-SmunmHe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

	<div id="SinoptikInformer" style="width:240px;" class="SinoptikInformer type1c1"><div class="siHeader"><div class="siLh"><div class="siMh"><a onmousedown="siClickCount();" class="siLogo" href="https://ua.sinoptik.ua/" target="_blank" rel="nofollow" title="Погода"> </a>Погода <span id="siHeader"></span></div></div></div><div class="siBody"><a onmousedown="siClickCount();" href="https://ua.sinoptik.ua/погода-львів" title="Погода у Львові" target="_blank"><div class="siCity"><div class="siCityName"><span>Львів</span></div><div id="siCont0" class="siBodyContent"><div class="siLeft"><div class="siTerm"></div><div class="siT" id="siT0"></div><div id="weatherIco0"></div></div><div class="siInf"><p>вологість: <span id="vl0"></span></p><p>тиск: <span id="dav0"></span></p><p>вітер: <span id="wind0"></span></p></div></div></div></a><div class="siLinks">Погода на 10 днів від <a href="https://ua.sinoptik.ua/погода-львів/10-днів" title="Погода на 10 днів" target="_blank" onmousedown="siClickCount();">sinoptik.ua</a></div></div><div class="siFooter"><div class="siLf"><div class="siMf"></div></div></div></div><script type="text/javascript" charset="UTF-8" src="//sinoptik.ua/informers_js.php?title=4&amp;wind=3&amp;cities=303014487&amp;lang=ua"></script>

	<div id="carouselExampleIndicators" class="carousel slide">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://picsum.photos/200/200" class="d-block w-100" alt="slide1">
			</div>
			<div class="carousel-item">
				<img src="https://picsum.photos/200/199" class="d-block w-100" alt="slide2">
			</div>
			<div class="carousel-item">
				<img src="https://picsum.photos/199/200" class="d-block w-100" alt="slide3">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</div>

