<h1 class='text-primary'>Про мене</h1>

<div class="article-about">

	<div class="section-with-img">

		<img class='img-avatar' src="/img/about/avatar.png" alt="Аватар">

		<div>
			<p>Студентка групи ПП-27, Бойчук Софія. Планую стати Fullstack-розробником.</p>

			<p>З Івано-Франківсьої області, вчилася в сільскій школі. З професією визначилася випадково, на початку одинадцятого класу. </p>

			<p>Ще до початку вивчення курсу "Технології веб-розробки та дизайну" вивчала технології веб-розробки, зокрема Express.js, тому саме їх і вибрала для самостійної роботи.</p>
			<p>Нормальних фотографій в мене нема, тому ось аватар.</p>
			<p>Планую в подальшому вивчати також React.js і використовувати саме його в професійній діяльності, однак вивчатиму і інші мови програмування та фреймворки для них, що призначені для розробки бек-енду (зокрема фреймворк Django для мови Python).</p>
		</div>
	</div>

</div>

