<h1 class='text-primary'>Bootstrap</h1>

<div class="article">
	<div class="section-with-img">

		<img src="/img/bootstrap/1.jpg" alt="Bootstrap">

		<p>
		<strong class='text-primary'>Bootstrap</strong> - це потужний і популярний фреймворк для розробки веб-інтерфейсів з відкритим вихідним кодом. Він надає набір інструментів для швидкої створення <strong class='text-primary'>сучасних, адаптивних та стилізованих веб-сайтів і веб-додатків</strong>. Заснований на HTML, CSS і JavaScript, Bootstrap забезпечує велику кількість готових компонентів та стилів, що полегшують процес розробки.
		</p>
	</div>

	<p>
	Однією з ключових переваг Bootstrap є його <strong class='text-primary'>адаптивність</strong>. Він має вбудовану підтримку для різних розмірів екранів, що дозволяє створювати сайти, які оптимально виглядають на різних пристроях - від настільних комп'ютерів до мобільних пристроїв. Гнучка сіткова система (grid system) Bootstrap дозволяє легко адаптувати розміщення елементів на сторінці для різних розмірів екранів.
	</p>

	<p>
	Фреймворк містить широкий спектр <strong class='text-primary'>готових компонентів</strong>, таких як <strong class='text-primary'>кнопки, форми, навігаційні панелі, картки, модальні вікна та багато іншого</strong>. Ці компоненти можна легко використовувати в проектах, просто застосовуючи класи Bootstrap до HTML-елементів, що прискорює процес розробки.
	</p>

	<p>
	Bootstrap також надає можливість кастомізації за допомогою <strong class='text-primary'>Sass</strong>, що дозволяє розробникам легко змінювати стилі фреймворку, використовуючи змінні, міксини та інші функції Sass. Це дає більшу гнучкість у виборі стилів та адаптації Bootstrap до потреб конкретного проекту.
	</p>

	<img src="/img/bootstrap/2.png" alt="Bootstrap">

	<p>
	Однією з головних причин популярності Bootstrap є його велика та активна спільнота. Існує велика та хороша документація, багато прикладів коду, тем оформлення та розширень, що спрощує його використання та вирішення проблем при розробці на основі цього фреймворку.
	</p>

</div>
