
<h1 class='text-primary display-1'>Цифрова графіка</h1>

<div class="article">
	<p>
	Цифрова графіка є одним з ключових елементів веб-дизайну та веб-розробки, що охоплює весь спектр зображень та графічних елементів, які використовуються на веб-сайтах та веб-додатках. Це включає в себе різні типи графіки, зокрема векторну та растрову.
	</p>

	<img src="/img/graphics/1.jpg" alt="Digital graphics">

	<p>

	<div class="section-with-img">
		<div>
			<strong class='text-primary'>Растрова графіка</strong> складається з <strong class='text-primary'>пікселів</strong>, що розміщені у формі сітки. Кожен піксель має свій власний колір, що визначає візуальний вигляд зображення. Фотографії, скановані зображення та більшість графічних файлів (наприклад, <strong class='text-primary'>.jpg, .png, .gif</strong>) є прикладами растрової графіки. Однією з основних характеристик растрової графіки є <strong class='text-primary'>обмеженість щодо масштабування</strong> без втрати якості, оскільки пікселі мають фіксований розмір.
	</p>

	<p>
	Векторна графіка представлена математичною моделлю, що використовує вектори, лінії та криві для опису форм та об'єктів. Вона зберігається як набір математичних інструкцій, а не як пікселі, тому може бути без втрат масштабована до будь-якого розміру без втрати чіткості. Логотипи, іконки, малюнки структур або будь-які об'єкти, що можуть бути описані за допомогою геометричних форм (наприклад, .svg), є прикладами векторної графіки.
	</p>
		</div>
	<img src="/img/graphics/2.webp" alt="Raster and vector graphics">
	</div>

	<p>
	Різниця між ними полягає у способі зберігання та роботі з графічними даними. Растрова графіка має фіксовану кількість пікселів, тоді як векторна графіка описує об'єкти з точністю до їхніх характеристик та координат, зберігаючи їх у вигляді математичних формул. Обидва типи графіки мають свої переваги та обмеження, і їхній вибір залежить від конкретних потреб проекту веб-розробки.
	</p>

</div>
