<h1 class='text-primary display-1'>Про веб-дизайн</h1>

<div class="article">
	<p>Оформлення веб-сторінок відіграє важливу роль у створенні сайту. Під дизайном розуміється як зовнішній вигляд сайту, <strong class='text-primary'>User Interface (UI)</strong>, так і зручність користування сайтом - <strong class='text-primary'>User Experience (UX)</strong>.</p>

	<img src="/img/home/web-design.png" alt="Web Design">

	<p>Добре продуманий веб-дизайн поєднує в собі <strong class='text-primary'>креативність і функціональність</strong>, забезпечуючи візуальну привабливість сайту разом із зручністю користування. Він також враховує <strong class='text-primary'>адаптивність до різних пристроїв</strong> і розмірів екранів, забезпечуючи оптимальний вигляд та функціональність на різних пристроях.</p>

	<p>Веб-дизайн працює з такими елементами, як макети, кольори, шрифти, графіка та взаємодія, з метою створення приємного та зручного середовища для користувачів в Інтернеті. Ефективний веб-дизайн забезпечує <strong class='text-primary'>зручну навігацію</strong>, <strong class='text-primary'>чітку інформаційну структуру</strong> та відповідність потребам цільової аудиторії.</p>

	<hr>

	<p>Для створення цього сайту я використовувала не тільки базові веб-технології, тобто HTML, CSS та JavaScript, а і певні готові рішення, які широко використовуються у розробці - <strong class='text-primary'>Express.js</strong> разом з <strong class='text-primary'>express-handlebars</strong> для програмування бек-енду (серверної частини) і <strong class='text-primary'>Bootstrap</strong> для легкої стилізації елементів сторінки.</p>

	<img src="/img/home/technologies.png" alt="Web Technologies">

</div>

